@page
@model FreelancePM.Pages.Admin.UsersModel
@{
}

@{
    ViewData["Title"] = "User Management";
}

<h1>User Management</h1>

<p>
    <a class="btn btn-primary" href="?export=true">Export CSV</a>
</p>

<table class="table table-sm table-bordered">
    <thead>
        <tr>
            <th>Email</th>
            <th>Username</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.AllUsers)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.UserName</td>
            </tr>
        }
    </tbody>
</table>